###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
###< symfony/framework-bundle ###
/public/uploads
/public/oeuvre-medias

###> symfony/asset-mapper ###
/public/assets
###< symfony/asset-mapper ###
