<div id="modal-batch-action-pdf" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 id="batch-action-confirmation-title-pdf">{{ 'batch_action_modal.title'|trans(domain = 'EasyAdminBundle') }}</h4>
                <div class="mb-3">
                    <label for="bibliography">
                        <input id="bibliography" type="checkbox" name="additional_data" value="true" />
                        <span>Bibliographie</span>
                    </label>
                    <label for="exhibition">
                        <input id="exhibition" type="checkbox" name="additional_data" value="true" />
                        <span>Exposition</span>
                    </label>
                </div>
                <div class="">
                    <span>Dernières locations : </span>
                    <label for="external-location">
                        <input id="external-location" type="checkbox" name="additional_data" value="true" />
                        <span>externes</span>
                    </label>
                    <label for="internal-location">
                        <input id="internal-location" type="checkbox" name="additional_data" value="true" />
                        <span>internes</span>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                    <span class="btn-label">{{ 'action.cancel'|trans(domain = 'EasyAdminBundle') }}</span>
                </button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="modal-batch-action-button-pdf">
                    <i class="fa fa-fw fa-check"></i>
                    <span class="btn-label">{{ 'batch_action_modal.action'|trans(domain = 'EasyAdminBundle') }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
