<div id="modal-batch-action-csv" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 id="batch-action-confirmation-title-csv">{{ 'batch_action_modal.title'|trans(domain = 'EasyAdminBundle') }}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                    <span class="btn-label">{{ 'action.cancel'|trans(domain = 'EasyAdminBundle') }}</span>
                </button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-success" id="modal-batch-action-button-csv">
                    <i class="fa fa-fw fa-check"></i>
                    <span class="btn-label">{{ 'batch_action_modal.action'|trans(domain = 'EasyAdminBundle') }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
