{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_javascript %}
    {{ parent() }}
    <script src="{{ asset('build/test.js') }}"></script>
{% endblock head_javascript %}

{% block content_title %}Tableau de bord{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm">
            {{ nb_artworks }}
        </div>
        <div class="col-sm">
            {% for lieu in lieux %}
                <p>{{ lieu.nom }}</p>
            {% endfor %}
        </div>
        <div class="col-sm">
            <div>
                <canvas id="myChart"></canvas>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
                const ctx = document.getElementById('myChart');

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                            label: '# of Votes',
                            data: [12, 19, 3, 5, 2, 3],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>

        </div>
    </div>
{% endblock %}