<div id="modal-new-location" class="modal modal-new-location fade" tabindex="-1">
    <div class="modal-dialog  modal-lg modal-new-location-dialog">
        <div class="modal-content modal-new-location-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Créer un lieu</b></h5>
                <button type="button" id="modal-clear-button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-new-location-body" class="modal-body py-4 px-2">
                <div class="fa-3x px-3 py-3 text-muted text-center">
                    <i class="fas fa-circle-notch fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</div>