.form-control-label,
.datagrid thead a,
.datagrid thead span {
    font-weight: 700 !important;
}

.datagrid .ea-lightbox-thumbnail img {
    max-block-size: 300px !important;
    max-inline-size: 100% !important;
}

.badge-outline {
    display: none;
}

.form-group legend .col-form-label,
.form-tabs-tablist .nav-tabs a,
.form-tabs-tablist .nav-tabs a:hover {
    font-weight: 700;
}

.date-uncertain .form-check {
    display: flex;
    flex-direction: column-reverse;
}

.date-uncertain .form-check-label {
    font-weight: 700;
    padding: 0 0 11px;
}

.filter-content .form-widget-compound label {
    display: block !important;
}

.table-actions .field-collection-delete-button
{
    position: relative !important;
}

.btn-link-danger, .btn-link-danger:active, .btn-link-danger:active:focus, .btn-link-danger:focus, .btn-link-danger:hover {
    color: var(--link-danger-color);
}

.btn-light {
    --button-box-shadow: var(--button-danger-box-shadow);
    --button-bg: var(--button-danger-bg);
    --button-border-color: var(--button-danger-border-color);
    --button-hover-bg: var(--text-color);
    --button-hover-color: var(--button-danger-hover-color);
}

.actions a {
    width: max-content;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable th[data-table-sortable-th] span i {
    --fa: "\f0dc";
    --fa--fa: "\f0dc\f0dc";
}


.table-sortable th[aria-sort="desc"] span i,
.table-sortable th[aria-sort-default="desc"] span i {
    --fa: "\f063";
    --fa--fa: "\f063\f063";
    color: var(--table-thead-sorted-marker-color);
}

.table-sortable th[aria-sort="asc"] span i,
.table-sortable th[aria-sort-default="asc"] span i {
    --fa: "\f062";
    --fa--fa: "\f062\f062";
    color: var(--table-thead-sorted-marker-color);
}

.table-sortable th[aria-sort="desc"],
.table-sortable th[aria-sort-default="desc"],
.table-sortable th[aria-sort="asc"],
.table-sortable th[aria-sort-default="asc"] {
    box-shadow: inset 0 -2px 0 var(--color-primary)
}