.form-control-label,
.datagrid thead a,
.datagrid thead span {
    font-weight: 700 !important;
}

.datagrid .ea-lightbox-thumbnail img {
    max-block-size: 300px !important;
    max-inline-size: 100% !important;
}

.badge-outline {
    display: none;
}

.form-group legend .col-form-label,
.form-tabs-tablist .nav-tabs a,
.form-tabs-tablist .nav-tabs a:hover {
    font-weight: 700;
}

.date-uncertain .form-check {
    display: flex;
    flex-direction: column-reverse;
}

.date-uncertain .form-check-label {
    font-weight: 700;
    padding: 0 0 11px;
}

.filter-content .form-widget-compound label {
    display: block !important;
}

.table-actions .field-collection-delete-button
{
    position: relative !important;
}

.btn-link-danger, .btn-link-danger:active, .btn-link-danger:active:focus, .btn-link-danger:focus, .btn-link-danger:hover {
    color: var(--link-danger-color);
}