.primary-media .accordion,
.primary-media .accordion-item{
    box-shadow: none !important;
}

.primary-media .accordion-header,
.primary-media .ea-vich-image-actions,
.primary-media .form-widget-compound .col-form-label{
    display: none;
}

.primary-media .accordion-body {
    padding: 4px var(--bs-accordion-body-padding-x);
}

.primary-media .row .form-widget-compound {
    padding-left: 0;
    padding-right: 0;
}

.primary-media .row .form-widget-compound .form-group {
    padding: 0;
}

.primary-media .ea-vich-image img {
    max-height: 100%;
    margin: 0;
}